<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Deck'mon</title>
  </head>


  <body data-ng-app ="cardsApp">
    <main data-ng-controller="cardsController" data-ng-init="getAll()">

      <h1>Magic Cards</h1>
      <p>Collection of all your cards to build dat deck destory!</p>

      <p>Deck
        <ul data-ng-repeat="card in cards">
          <li>{{card.spell}} - {{card.color}} (cost:{{card.cost}})</li>

            <button data-ng-click="removeCard(card)">Delete</button>
            <button data-ng-if="!card.editing" data-ng-click="toggleEdit(card)">Edit</button>

            <section  data-card-form-directive
                  data-save="saveCard(card)"
                  data-button-text="Save Changes"
                  data-label-text="Card: "
                  data-ng-if="card.editing"
                  data-card="card">
              <button type="button" data-ng-click="toggleEdit(card)">Cancel Edit</button>
            </section>
        </ul>
      </p>

      <p id="colortype">
        Colors in the collection are: White, Blue, Black, Red, &amp; Green!
      </p>

      <section>
        <form name="newCardForm" data-ng-submit="createCard(newCard)">
          <input type="text" placeholder="Spell Name" required data-ng-model="newCard.spell">
          <input type="text" placeholder="Color" required data-ng-model="newCard.color">
          <input type="text" placeholder="Cost: 1-4" data-ng-model="newCard.cost">
          <button type="submit"  data-ng-disabled="newCardForm.$invalid">Save New Card</button>
        </form>
      </section>

    </main>
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>
